<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro" xmlns:gz="http://gazebosim.org/schema">
  <xacro:macro name="wheel" params="name radius parent_link:=base_link *origin">
    <xacro:property name="mass" value="0.5" />
    <xacro:property name="width" value="0.06" />

    <xacro:property name="wheel_link_name" value="${name}_wheel" />
    <xacro:property name="wheel_joint_name" value="${wheel_link_name}_joint" />

    <joint name="${wheel_joint_name}" type="fixed">
      <parent link="${parent_link}" />
      <child link="${wheel_link_name}" />
      <xacro:insert_block name="origin" />
    </joint>

    <link name="${wheel_link_name}">
      <visual>
        <geometry>
          <cylinder length="${width}" radius="${radius}" />
        </geometry>
      </visual>
      <collision>
        <geometry>
          <cylinder length="${width}" radius="${radius}" />
          <!-- <sphere radius="${radius}" /> -->
        </geometry>
      </collision>
      <xacro:inertial_cylinder mass="${mass}" radius="${radius}"
        length="${width}" />
    </link>

    <gazebo reference="${wheel_link_name}">
      <collision>
        <surface>
          <friction>
            <ode>
              <mu>0.0</mu>
              <mu2>0.0</mu2>
            </ode>
          </friction>
        </surface>
      </collision>
    </gazebo>

  </xacro:macro>
</robot>
